body{
color: white;
background: black;
margin: 0px;
font-family: "Chakra Petch", sans-serif;
}

header {
border-bottom: solid 2px blue (13, 0, 255);
padding: 20px;
font-size: 32px;
color: rgb(42, 124, 228);
}
section {
background:rgb(185, 87, 185);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 51px;
}

h1 {
font-size: 40px;
}

p {
font-size: 20px;
}

ing{
height: 200;
}

.categoria-videos {
    display: flex;
}